*,
*::after
*::before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    display: block;
}
h1{
    font-family: 'Lato';
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container{
    width: 1350px;
    max-width: 100%;
    margin: 0 auto;
}
.container-flex{
    display: flex;
}
.container-flex-spaced{
    justify-content: space-between; 
}
.header{
   font-family: 'Lato';
}
.header-title{
    display: flex;
    line-height: 28px;
    font-size: 20px;
    margin: 24px 16px;
} 
.header-list-item{
    display: inline-block;
    padding: 12px;
    margin: 0 12px;
}
.header-list-item a {
    color: #1F1F1F;
    text-decoration: none;
  }

.header-search{
    width: 235px;
    height: 28px;
    margin-top: 13px;
    appearance: none;
    -webkit-appearence: none;
    background-color: #F2F2F2;
    border-radius: 50px;
    border: none;
    padding: 16px 20px 16px 40px;
    font-size: 20px;
    font-family: 'Lato';
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-position: 13px 23px;
    background-size: 18px;
    margin-left: 24px;
}
.header-bag{
    width: 52px;
    height: 52px;
    display: flex;
    margin: 13px 16px;
    background: url(../img/Vector.png) #F2F2F2;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    
}
/*Section One*/

.section-1{
    font-family: 'Lato';
    display: inline-block;
}
.main-ultra-light{
    display: flex;
    width: 1469,16px;
    height: 581px;
    margin-top: 172px;
    align-items: center;
}
.ultra-light{
    display: flex;
    position: relative;
    width: 581px;
    height: 250px;
    font-size: 86px;
    line-height: 86px;
    margin-left: 16px;
    margin-bottom: 24px;
    bottom:180px;
}
.section-1-paragraph{
    display: flex;
    position: absolute;
    left: 30px;      
    top: 390px;
    color: #1F1F1F;
    width: 475px;
    height: 84px;
    font-size: 18px;
    line-height: 18px;
}
.add-botton-1{
    display: flex;
    position: relative;
    width: 336px;
    height: 84px;
    left: 12px;
    bottom: 126px;
    border-radius: 12px;
    background: #FFFFFF;
    margin-left: 16px;
    margin-top: 108px;
    padding: 28px 64px 28px 45px;
    font-family: 'Lato';
    font-weight:bold;
    font-size: 20px;
    background: url(../img/plus.png);
    background-repeat: no-repeat;
    background-position: 267px 32px;
    background-size: 18px;

}
.tenis-branco{
    position: absolute;
    display: flex;
    width: 1266px;
    height: 840px;
    background: url(../img/Tenis\ Branco\ 1.png);
    background-repeat: no-repeat;
    background-position: 13px 20px;
    background-position: 376px 78px;;
}
.elipse{
    display: flex;
    position: relative;
    bottom: 40px;
    width: 581px;
    height: 581px;
    opacity: 0.2;
    bottom: 78px;
    margin: 0px 0px 0px 20px;
    border-radius: 400px;
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
}
/*Fim da Primeira Seção*/

.main-options{
    font-family: 'Lato';
    display: block;
    justify-content:space-between;
}
.section-2{
    position: absolute;
    display: inline-table;
    align-items: center;
    border-radius: 8px;
    background: #F3F3F3;
    margin: 200px 20px  0px 20px;
    width: 1290px;
    height: 660px;
}
.corrida-masculino{
    position: absolute;
    display: flex;
    margin-left: 500px;
    align-items: center;
    top: 24px;
}
.collor-options-items{
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding-left: 10px;
    left: 490px;
    padding-top: 89px;
}
.imagem-2{
    display: flex;
    margin-left: 405px;
}
.color-option{
    display: flex;
    margin-top: 40px;
    margin-left: 600px;
    align-items: center;
}
.add-botton-2{
    position: relative;
    height: 84px;
    width: 336px;
    align-items: center;
    margin-left: 462px;
    margin-top: 40px;
    padding-left: 62px;
    border-radius: 12px;
    background:#F3F3F3;
    font-family: 'Lato';
    font-weight:bold;
    font-size: 20px;
    display: inline-flex;
}
/*Fim da Secunda seção*/

.main-merchant-container{
    display: inline-block;
    position: relative;
    width: 1440px;
    height: 600px;
    max-width: 100%;
    margin: 1370px auto;
}
.leveza-agilidade{
    position: relative;
    display: flex;
    width: 515px;
    height: 69px;
    bottom: 1272px;
    margin-left: 16px;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 64px;
    margin-top:1090px;
} 
.paragraph-3{
    display: flex;
    position: absolute;
    max-width: 551px;
    height: 130px;
    padding-left: 16px;
    color:#1F1F1F;
    font-family: 'Lato';
    font-size: 20px;
    line-height: 28px;
    bottom: 450px;
}
.imagem-3{
    display: flex;
    position: absolute;
    width: 1300px;
    height: 600px;
    bottom: 220px;
    background:url(../img/Leveza\ e\ agilidade.png);
    background-repeat: no-repeat;
    background-position: 700px 0px;
    background-size: 600px;
}
/*Fim da seção 3*/

.sec_4{
    display: block;
    position: absolute;
    font-family: 'Lato';
}
.Img_4_1{
    position: absolute;
    display: flex;
    width: 390px;
    height: 566px;
    bottom: 1000px;
    left: 16px;
    background: url(../img/Corrida\ 1.png);
    background-repeat:no-repeat;
    background-size: 390px;
}
.Img_4_2{
    position: absolute;
    display: flex;
    width: 390px;
    height: 566px;
    bottom: 1000px;  
    margin-left: 416px;
    background: url(../img/Corrida\ 2.png);
    background-repeat:no-repeat;
    background-size:221px;
}
.amortecimento{
    display: flex; 
    position: absolute;
    width: 530px;
    height: 128px;
    left: 790px;
    bottom: 1346px;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
}
.paragraph_4{
    position: absolute;
    width: 530px;
    height: 112px;
    left: 790px;
    bottom: 1200px;
}
/*Fim da Section 4*/

.sec_5{
    display: block;
    position: absolute;
    font-family: 'Lato';
}
.sensacao{
    position: absolute;
    display: flex;
    align-items: center;    
    width: 581px;
    height: 128px;
    bottom: 680px;
    margin-left: 16px;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
}
.paragraph_5{
    position: absolute;
    width: 581px;
    height: 56px;
    font-size: 20px;
    line-height: 28px;
    margin-left: 16px;
    bottom: 630px;
}
.img_5{
    position: absolute;
    width: 1300px;
    height: 665px;
    bottom: 225px;
    background: url(../img/Sensação\ de\ estabilização.png);
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: 700px 0px;
    margin-right: 16px;
}
.wallpaper{
    position: absolute;
    display: block;
    width: 1349px;
    height: 600px;
    top: 4000px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/Largada.png);
    background-repeat: no-repeat;
    background-size: 1349px;
}
.letter-6{
    color: #FFFFFF;
    display: inline;
    align-items: center;
    font-weight: bold;
    font-size: 82px;
    line-height: 82px; 
    letter-spacing: -0.02em;
}
.arrow{
    display: flex;
    align-items: center;
    position: absolute;;
    width: 44px;
    height: 45px;
    left: 24px;
    top: 48px;
}
.letter-6-1{
    position: absolute;
    top:24px;
    left: 85px;
}
.letter-6-2{
    position: absolute;
    top: 111px;
    left: 16px;
}
.letter-6-3{
    position: absolute;
    top: 200px;
    left: 16px;
}
/*Map*/
.map_7{
    display: flex;
    position: absolute;
    width: 827px;
    height: 838px;
    left: 87px;
    top: 4735px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    background: url(../img/Mapa.png) transparent;
    background-repeat: no-repeat;
    background-size: 635px;
}
.infobox_7{ /*Infobox_7*/
    display: flex;
    position: absolute;
    width: 552px;
    height: 643px;
    background: #F3F3F3;
    border-radius: 0px 8px 8px 0px;
    position: relative;
    left:714px;
    top:556px;
}
.title{
    width: 485px;
    height: 48px;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    padding-left: 48px;   
}
.item_7_1{
    width: 403px;
    height: 21px;
    position: relative;
    left: 48px;
    padding-top: 24px;
    padding-left: 26px;
    padding-bottom: 24px;
    background: #FFFFFF;
    border: #FFFFFF; 
    border-radius: 12px;
    font-size: 20px;
    font-style: normal;
}
.item_7_2{
    width: 403px;
    height: 21px;
    position: relative;
    left: 48px;
    top:24px;
    padding-top: 24px;
    padding-left: 26px;
    padding-bottom: 24px;
    background: #FFFFFF;
    border-radius: 12px;
    font-size: 20px;
    font-style: normal;
    border: #FFFFFF;
 }
.comentarios_7{
    position: relative;
    width: 425px;
    height: 165px;
    top:24px;
    margin-left: 48px;
    margin-top: 24px;
    resize: none;
    text-indent: 15px;
    padding-top: 10px;
    font-size: 22px;
    font-family: 'Lato';
    font-style: normal;
    background: #FFFFFF;
    border: #FFFFFF;
    border-radius: 12px;
  }
  
.checkbox_7{ 
     width: 28px;
     height: 28px;
     position: relative;
     top:70px;
     padding-left: 48px;
     right: 473px;
  }
.agreement_7{
    position: relative;
    width: 373px;
    height: 28px;
    left: 558px;
    bottom:43px;
    font-size: 20px;
    color: #969696;
}
.btn_enviar_7{
    position: relative;
    width: 410px;
    height: 74px;
    left: 48px;
    top:40px;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    color:#1F1F1F;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
 }
/*Footer*/
.footer a{
    text-decoration: none;
    color: #1F1F1F;
   }
.footer-container{
    width: 1340px;
    height: 374px;
}
.footer{
    position: relative;
    width: 1348px;
    height: 306px;
    background: #F3F3F3;
    top: 650px;
    right: 7px;
    padding-bottom: auto;
}
.footer h3{
    position: absolute;
    width: 67px;
    height: 28px;
    left: 60px;
    top: 56px;
}
.list_1{
    position:relative;
    line-height: 35px;
    list-style: none;
    padding-left: 256px;
    top: 66px;
}   
.list_2{
    position:relative;
    line-height: 35px;
    list-style: none;
    padding-left: 630px;
    bottom: 125px;
}
.list_3{
    position:relative;
    line-height: 50px;
    list-style: none;
    padding-left: 990px;
    bottom: 323px;
}
.logo_1{
    position: relative;  
    line-height: 50px;     
    top: 2px; 
}
.logo_2{
    position: relative;
    line-height: 50px;   
    left: 50px;
    bottom: 57px;
}
.logo_3{
    position: relative; 
    line-height: 50px;   
    left: 100px;
    bottom: 117px;
}
.brand_8{
    position: relative;
    width:  1355px;
    height: 68px;
    background-color:#F2F2F2;
    bottom:319px;
    right: 7px;
}
.signed_8{
    position: relative;
    padding-left: 550px;
    top:20px;
    display: flex;
    color: #1F1F1F;
    font-style: bold;
}
.logo_8{
    position: relative;
    padding-left:669px;
    bottom:18px;
}   





